apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-fastapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-fastapi
  template:
    metadata:
      labels:
        app: api-fastapi
    spec:
      containers:
        - name: api-fastapi
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 10
