name: ci and push GHCR

on:
  push:
    branches: ["main"]
    paths: ["requirements.txt", "chart/**", ".github/workflows/ci.yaml"]
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Registry Image Tag name (default: latest)"
        required: false
        default: "latest"

permissions:
  contents: write
  packages: write

jobs:
  build:
    if: github.actor != 'github-actions[bot]'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set values
        run: |
          if [[ -n ${{ github.event.inputs.image_tag }} ]]; then
            echo "TAG=${{ github.event.inputs.image_tag }}" >> $GITHUB_ENV
          else
            echo "TAG=latest" >> $GITHUB_ENV
          fi
          
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ github.sha }}
            ghcr.io/${{ github.repository }}:${{ env.TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max